{% load static %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center text-end">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <img class="img-fluid" src="{% static 'img/hero-6.jpg' %}" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">
                    <h1 class="display-6">عن القسم</h1>
                    <p class="fs-4">
                        صمم برنامج الصوتيات واللغويات القضائية ليتسق مع رسالة جامعة الاسكندرية فى تشجيع الدراسات البينية
                        التى تسهم فى مجاالت
                        مهمة فى المجتمع، إذ يهدف البرنامج إلى تخريج طلاب قادرين على استخدام اللغة فى تحليل البيانات
                        الوصفية فى مجموعة واسعة من
                        .سياقات الخطاب القانونى المكتوبة والمنطوقة</p>
                    <p class="fs-4">
                        ومن خلال هذا البرنامج سيصبح بوسع الخريجين استخدام
                        الادوات والتقنيات الحديثة
                        فى التعرف على المجرمين من خلال أصواتهم سمعيا وتحليليا. وهذه القدرات تؤهلهم للعمل كخبراء أو
                        استشاريين لغويين - من ناحية
                        .اللغة والصوت - فى المحاكم وفى الأمور القضائية
                    </p>
                    <a class="btn btn-primary py-3 px-4" href="{% url 'about' %}">المزيد عن القسم</a>
                </div>
            </div>
        </div>
    </div>
</div>